.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .tab {
    padding: 0.5rem 1rem;
    background: #444;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
  }
  
  .active {
    padding: 0.5rem 1rem;
    background: #1e40af;
    color: white;
    border-radius: 6px;
    border: none;
  }
  
  .content {
    margin-top: 1rem;
  }
  